[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jedi = "*"
pylint = "*"
pymongo = "*"
pika = "*"
flask = "*"
flask_pymongo = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
